dash-bootstrap-components==1.6.0
dash-daq==0.5.0
dash-extensions==1.0.16
dash==2.17.1
faiss-gpu
git+https://github.com/facebookresearch/segment-anything.git
ipywidgets
matplotlib==3.9.0
opencv-python
opencv-python==4.8.0.74
pandas==2.2.2
plotly
pycocotools
scikit-image==0.24.0
tensorboard==2.17.0
torch==2.3.1
torchvision==0.18.1
