matplotlib==3.7.1
opencv-python==4.8.0.74
pandas==2.0.3
dash
dash-daq
plotly
ipywidgets
git+https://github.com/facebookresearch/segment-anything.git
torch
torchvision
opencv-python 
pycocotools