dash-bootstrap-components==1.6.0
dash-daq==0.5.0
dash-extensions==1.0.19
dash==2.18.2
faiss-gpu
# git+https://github.com/facebookresearch/segment-anything.git
git+https://github.com/facebookresearch/sam2.git
ipywidgets
matplotlib==3.10.0
opencv-python
opencv-python==4.8.0.74
pandas==2.2.3
plotly
pycocotools
scikit-image==0.25.0
tensorboard==2.18.0
torch==2.5.1
torchvision==0.20.1
